#okta-sign-in .o-form select {
  width: 100% !important;
  margin-top: 12px !important;
}

#okta-sign-in .auth-content {
  padding-top: 20px;
}

#okta-login-container .beacon-container {
  display: none;
}

#shure-unified-registration #okta-login-container #okta-sign-in .o-form .input-fix {
  border-bottom: 1.25px solid #181818;
}

#shure-unified-registration #okta-login-container #okta-sign-in .o-form .input-fix input {
  color: #181818;
  padding-left: 4px;
}

#shure-unified-registration #okta-login-container #okta-sign-in .o-form select {
  color: #181818;
  border-bottom: 1.25px solid #181818;
}

#okta-sign-in .o-form .input-fix {
  height: 34px;
}

#okta-sign-in .siw-main-view .custom-checkbox {
  width: 100%;
}

#shure-unified-registration #okta-login-container #okta-sign-in .o-form label {
  padding-top: 4px;
}

strong {
  font-weight: bold !important;
}

#okta-sign-in [data-se="o-form-fieldset-userProfile.IgniteTnC"] {
  margin-top: 10px;
}

#shure-unified-registration {
  font-family: din-2014, Arial, sans-serif !important;
}

#shure-unified-registration #okta-login-container #okta-sign-in .o-form label {
  font-family: din-2014, Arial, sans-serif !important;
}

.shure-cloud-terms-conditions-modal {
  width: 100%;
  height: 609px;
  z-index: 10000;
  position: fixed;
  background: white;
  margin: 0 auto;
  left: 50%;
  margin-left: -493px;
  margin-top: 100px;
  max-width: 986px;
  display: none;
  padding: 20px;
  color: #000000DE;
}

.cancel-modal,
.agree-modal {
  background: none;
  border: none;
}

.shure-cloud-terms-conditions-modal__header {
  font-size: 25px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

.shure-cloud-terms-conditions-modal__content {
  height: 475px;
  overflow: auto;
}

.shure-cloud-terms-conditions-modal__buttons {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.shure-cloud-terms-conditions-modal__buttons button {
  margin-right: 20px;
  color: #0061a0;
  font-weight: bold;
  cursor: pointer;
}

.agree-modal:disabled {
  color: #8c8c8e;
}

#shure-unified-registration #okta-login-container #okta-sign-in .auth-org-logo {
  max-height: 60px;
}

#okta-login-container {
  margin: 16px;
}

#okta-sign-in.auth-container.main-container,
#okta-sign-in.auth-container h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.5%;
}

.okta-form-label {
  font-size: 10px !important;
  line-height: 12px !important;
  letter-spacing: 0.8%;
}

#shure-unified-registration #okta-login-container #okta-sign-in .o-form .input-fix input {
  font-size: 13px !important;
  line-height: 22px !important;
}

#shure-unified-registration #okta-login-container #okta-sign-in .o-form label {
  padding-top: 5px;
  color: rgba(64, 64, 65, 1);

}

#okta-sign-in.auth-container .okta-form-input-field {
  background-color: rgba(255, 255, 255, 1);
}

#shure-unified-registration #okta-login-container a:not([data-se="button"]) {
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 97, 160, 1);
  padding-bottom: 0px;
  line-height: 14px;
  margin-bottom: 10px;
}

#shure-unified-registration #okta-login-container a:not([data-se="button"]):hover {
  background-color: rgba(0, 97, 160, 1);
  color: rgba(255, 255, 255, 1);
  padding: 2px;
}

#shure-unified-registration #okta-login-container #okta-sign-in .o-form-head {
  margin-bottom: 45px;
}

.o-form-input-name-rememberMe label {
  color: rgba(0, 0, 0, 1);
}

#shure-unified-registration #okta-login-container #okta-sign-in.auth-container input[type=submit] {
  text-transform: none;
  font-weight: 600;
  height: 35px;
  border-radius: 16px;
  font-size: 14px;
}

[data-se="o-form-fieldset-userProfile.sf_servicePartner"] .okta-form-label.o-form-label {
  font-weight: normal !important;
  font-family: din-2014, Arial, sans-serif !important;
  font-size: 13px !important;
  color: rgba(64, 64, 65, 1) !important;
  margin-bottom: 8px !important;
}

[data-se="o-form-fieldset-userProfile.salesforcePartnerNum"],
[data-se="o-form-fieldset-userProfile.sf_Language"],
[data-se="o-form-fieldset-userProfile.sfserv_region"],
[data-se="o-form-fieldset-userProfile.salesforcePartnerNum"] span.o-form-explain {
  display: none !important;
}

[data-se="o-form-fieldset-userProfile.shurecloudTnC_China"] {
  display: none !important;
}

#okta-sign-in .siw-main-view .custom-checkbox,
#shure-unified-registration #okta-login-container #okta-sign-in .o-form label {
  height: auto !important;
}

#shure-unified-registration #okta-login-container #okta-sign-in .o-form label[data-se-for-name="userProfile.shurecloudTnC_China"] {
  height: 100px !important;
  margin-bottom: 5px;
}

#shure-unified-registration #okta-login-container #okta-sign-in .o-form label[data-se-for-name="userProfile.shurecloudTnC_China"] {
  margin-bottom: 50px
}

div[data-se="o-form-fieldset-userProfile.lmsDataPrivacy"] .o-form-explain,
div[data-se="o-form-fieldset-userProfile.title"] .o-form-explain {
  display: none;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}